<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624269487594-3dlg2m0akvjjs4mgenrv8d5j0n1u23pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624269487594-3dlg2m0akvjjs4mgenrv8d5j0n1u23pj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>624269487594-qnd3sr7enqst22pclbe3n3c4941kggrg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8YwegBm41fEqURIHVYbTHjFMJfkW9sgI</string>
	<key>GCM_SENDER_ID</key>
	<string>624269487594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vep.eburon.ai</string>
	<key>PROJECT_ID</key>
	<string>eburon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>eburon-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624269487594:ios:a783425cbe594b442e9693</string>
	<key>DATABASE_URL</key>
	<string>https://eburon-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>